@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
// root colors
:root {
  --accent-color: #f1356d;
  --border-1: #f2f2f2;
  --black: #000;
  --border-2: #fafafa;
  --light-text: #fff;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-1);
  h1 {
    color: var(--accent-color);
  }
  .links {
    margin-left: auto;

    a {
      color: var(--black);
      margin-left: 16px;
      text-decoration: none;
      padding: 6px;
      &:hover {
        color: var(--accent-color);
      }
      &.active {
        color: var(--accent-color);
      }
    }
  }
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
// blog styles
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid var(--border-2);
  &:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  }
  h2 {
    font-size: 20px;
    color: var(--accent-color);
    margin-bottom: 8px;
  }
  a {
    text-decoration: none;
  }
}
// blog details
.blog-details {
  h2 {
    font-size: 20px;
    color: var(--accent-color);
    margin-bottom: 10px;
  }
  div {
    margin: 20px 0;
  }
  button {
    background: var(--accent-color);
    color: var(--light-text);
    border: 0;
    padding: 8px;
    cursor: pointer;
  }
}
